* {
  box-sizing: border-box;
}

body {
  color: #222;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
  padding: 0;
}

.body--night-mode {
  background-color: #222;
  color: #d9d9d9;
}

.header {
  text-align: right;
  width: 80vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
}

.header__title {
  display: block;
}

.tumbler__wrapper {
  margin-left: auto;
  width: 50px;
  height: 30px;
  background-color: black;
  border: #1d92b2;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  cursor: pointer;
  display: flex;
  position: relative;
}
.tumbler__wrapper img {
  width: 15px;
  height: 15px;
}

.tumbler {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: margin-left 0.5s, background-color 0.5s;
}

.tumbler--night-mode {
  margin-left: calc(100% - 30px);
}

.credits {
  display: none;
}

.sun-svg,
.moon-svg {
  display: none;
}

.main {
  width: 80vw;
  max-width: 500px;
  padding: 0 1rem;
  margin: auto;
}

.post {
  border-bottom: 1px dashed #222;
  margin-bottom: 1rem;
  transition: border-bottom 0.5s;
}

.post--night-mode {
  border-bottom: 1px dashed #d9d9d9;
}

.post__title {
  font-weight: 700;
}
.post__title:first-child {
  margin-top: 0;
}

.description {
  display: flex;
}

.description__text {
  margin-right: 0.25rem;
}